@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ul li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styles */

body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 150px auto;

  margin: 0 auto;
  min-height: 100vh;
  width: min(1200px, 95%);
}

.avatar-container {}

/* Nav styles */

.nav {
  grid-area: 1 / 1 / 3 / 2;
}

.nav__title {}

.nav__title-icon {}

.nav__title-text {}

.nav__block {}

.nav__item {}

.nav__item-icon {}

.nav__item-name {}

/* Header styles */

.home-header {
  grid-area: 1 / 2 / 2 / 4;
}

.header {}

.header__search-form {}

.header__search-button {}

.header__search-icon {}

.header__search-field {}

.header__account-details {}

.header__notifications-icon {}

.header__avatar {}

.header__user-name {}

.home-header__bottom {}

.home-header__account-details {}

.home-header__avatar-container {}

.home-header__user-info {}

.home-header__greeting {}

.home-header__user-name {}

.home-header__projects-controls {}

.home-header__new-project-btn {}

.home-header__upload-project-btn {}

.home-header__share-project-btn {}

/* Main styles */

.home-main {
  grid-area: 2 / 2 / 3 / 3;
}

.section-title {}

.home-main__projects-container {}

.project-preview {}

.project-preview__description {}

.project-preview__title {}

.project-preview__keynote {}

.project-preview__controls {}

.project-preview__add-to-favorites-btn {}

.project-preview__add-to-favorites-icon {}

.project-preview__watch-later-btn {}

.project-preview__watch-later-icon {}

.project-preview__clone-project-btn {}

.project-preview__clone-project-icon {}

/* Aside styles */

.aside {
  grid-area: 2 / 3 / 3 / 4;
}

.section-title {}

.aside__announcements {}

.aside__section {}

.aside__announcement {}

.aside__announcement-title {}

.aside__announcement-text {}

.aside__trending {}

.aside__trending-item {}

.aside__trending-item-avatar-container {}

.aside__trending-item-avatar {}

.aside__trending-item-info {}

.aside__trending-user-id {}

.aside__trending-user-project {}