@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul,
ul li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General styles */

*:focus {
  outline: #000000 solid 2px;
}

body {
  background-color: #E2E8F0;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1.75fr;

  margin: 0 auto;
  min-height: 100vh;
  width: min(1200px, 95%);
}

.avatar-container {
  border-radius: 50%;
  overflow: hidden;
}

.section-title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Nav styles */

.nav {
  background-color: #1992D4;
  color: #FFFFFF;
  grid-area: 1 / 1 / 3 / 2;
  padding: 1rem;
}

.nav>*:not(:last-child) {
  margin-bottom: 2rem;
}

.nav__item-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}

.nav__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1ch;
}

.nav__title-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav__block {
  display: flex;
  flex-direction: column;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1ch;

  width: fit-content;
}

.nav__item-icon {
  height: 1.5rem;
}

.nav__item-name {
  font-weight: 700;
}

/* Header styles */

.home-header {
  grid-area: 1 / 2 / 2 / 4;
  background-color: #FFFFFF;
  box-shadow: 0 5px 5px -3px #D2D2D2;

  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0.5rem 2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 70px;
}

.header__search-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.header__search-button {
  appearance: none;
  background-color: transparent;
  cursor: pointer;

  border: none;
  height: 1.5rem;
  width: 1.5rem;
}

.header__search-field {
  appearance: none;
  background-color: #E2E8F0;
  border-radius: 1em;

  border: none;
  padding: 0 1em;
  height: 2rem;
  width: 75%;
}

.header__search-field::-webkit-search-cancel-button {
  appearance: none;
}

.header__account-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.header__notifications-icon {
  height: 1.5rem;
}

.header__avatar {
  width: 50px;
}

.header__user-name {
  color: #000000;
  font-weight: 700;
}

.home-header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;
}

.home-header__account-details {
  display: grid;
  gap: 20px;
  grid-template-columns: 70px 300px;
  grid-template-rows: 70px;
  align-items: center;
}

.home-header__user-info {
  color: #000000;
  font-weight: 700;
}

.home-header__user-name {
  font-size: 1.5rem;
}

.home-header__projects-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.home-header__button {
  appearance: none;
  background-color: #1992D4;
  border-radius: 2em;
  color: #FFFFFF;
  cursor: pointer;

  border: none;
  height: 35px;
  width: 80px;
}

/* Main styles */

.home-main {
  grid-area: 2 / 2 / 3 / 3;
}

.home-main__projects-container {}

.project-preview {}

.project-preview__description {}

.project-preview__title {}

.project-preview__keynote {}

.project-preview__controls {}

.project-preview__add-to-favorites-btn {}

.project-preview__add-to-favorites-icon {}

.project-preview__watch-later-btn {}

.project-preview__watch-later-icon {}

.project-preview__clone-project-btn {}

.project-preview__clone-project-icon {}

/* Aside styles */

.aside {
  grid-area: 2 / 3 / 3 / 4;
  padding: 2rem 0;
}

.aside__section {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 5px 5px -3px #D2D2D2;

  margin-top: 0.5rem;
  padding: 1rem;
}

.aside__section:not(:last-child) {
  margin-bottom: 2rem;
}

.aside__announcements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside__announcement {
  border-bottom: 1px solid #D2D2D2;
  padding: 10px 10px;
}

.aside__announcement:last-of-type {
  border-bottom: none;
}

.aside__announcement-title {
  color: #000000;
  font-size: 1rem;
}

.aside__announcement-text {
  font-size: 0.9rem;
}

.aside__trending {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(4, 50px);
}

.aside__trending-item {
  display: flex;
  gap: 1rem;
}

.aside__trending-item-avatar {
  width: 50px;
}

.aside__trending-user-id {
  color: #000000;
}